<!DOCTYPE html>
<html ng-app="unsplashExtention">

<head>
    <meta charset="utf-8">
    <title>My New Tab</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Cormorant+Garamond|Exo|Federo|Lobster|Orbitron:900|Yanone+Kaffeesatz:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=David+Libre" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="reset.css" media="screen" title="no title">
</head>

<body onload="updateClock(); setInterval('updateClock()', 1000 )" ng-controller="mainCtrl">
    <animate-dir></animate-dir>
    <main>

        <div>
            <img class="settings-icon" src="./icons/settings-512.png" alt="settings" />
        </div>
        <div class="menu-container">
            <span class='menu-title'><u>settings</u></span><br>
            <span class='menu-items'>name: <input class='name' ng-model='name' ng-submit="saveName(name)" type="text" name="name" value=""></span><br>
            <span class='menu-items'>
              time:
              <span ng-hide='timeOption' ng-click='timeOption = !timeOption' class='menu-toggle'>
                on
                  </span>
            <span ng-show='timeOption' ng-click='timeOption = !timeOption' class='menu-toggle'>
                    off
                  </span><br>
            <span class='menu-items'>
              greeting:
              <span ng-hide='greetingOption' ng-click='greetingOption = !greetingOption' class='menu-toggle'>
                on
                  </span>
            <span ng-show='greetingOption' ng-click='greetingOption = !greetingOption' class='menu-toggle'>
                    off
                  </span><br>
            <span class='menu-items'>
              weather:
              <span ng-hide='weatherOption' ng-click='weatherOption = !weatherOption' class='menu-toggle'>
                on
                  </span>
            <span ng-show='weatherOption' ng-click='weatherOption = !weatherOption' class='menu-toggle'>
                    off
                  </span><br>
            <span class='menu-items'>
                    quote:
                    <span ng-hide='quoteOption' ng-click='quoteOption = !quoteOption' class='menu-toggle'>
                      on
                        </span>
            <span ng-show='quoteOption' ng-click='quoteOption = !quoteOption' class='menu-toggle'>
                          off
                            </span><br>

        </div>
        <!-- <div class="weather">
            <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="245px" src='"http://forecast.io/embed/#lat=" + {{latitude}} + "&lon=" + {{longitude}} + "&name=" + {{city}}'> </iframe>
        </div> -->
        <!-- <div class="weather">
            <iframe ng-app="unsplashExtention" id="forecast_embed" type="text/html" frameborder="0" height="245" width="245px" ng-src="{{location}}"> </iframe>
        </div> -->
        <div ng-hide='weatherOption' class='weather1'>
            <script type="text/javascript" src="https://weatherfor.us/static/js/minion/minion.js"></script>
            <script type="text/javascript">
                w4uminion.run({
                    "txt_color": "#000000"
                });
            </script>
        </div>

        <div class='center' id="container">
            <p ng-hide='timeOption ' id='clock' class="clock">&nbsp;</p><br>
            <p ng-hide='greetingOption' class="greeting">{{greeting}}, {{name}}</p>
        </div>

        <div ng-hide='quoteOption' class="quote bottom-center">
            "{{quoteText}}"<br> ~ {{quoteAuthor}}
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-cookies.js" charset="utf-8"></script>
    <script src="./dist/js/bundle.js" charset="utf-8"></script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp"></script>

</body>

</html>
