/*font-family: 'Lobster', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Bungee Hairline', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Federo', sans-serif;
font-family: 'David Libre', serif;*/

main {
    background-image: url('https://images.unsplash.com/photo-1458571037713-913d8b481dc6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=693efb16c7d530531ac72634aacefc43');
    /*background-color: grey;*/
    background-size: cover;
    height: 100vh;
    text-align: center;

}

#clock {
    font-family: 'Exo', sans-serif;
    font-size: 12vw;
    font-weight: 600;
    color: white;
}

.clock {
    width: 75vw;
    margin: 0 auto;
}
.center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather {
  margin: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}

.greeting {
  font-family: 'Exo', sans-serif;
  font-size: 50px;
  font-weight: 600;
  width: 100vw;
  color: white;
  margin: 5px auto;
}

.settings-icon {
  margin: 0;
  position: absolute;
  top : 10px;
  left: 6px;
  height: 3vw;
}

.quote {
  font-family: "David Libre", serif;
  font-size: 21px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 10px;
}

.bottom-center {
  margin: 5px auto;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
}
#settings {
  background-color: grey;

}
