// $clockFont: 'Exo', sans-serif;
// $clockFont: 'Federo', sans-serif;
// $clockFont: 'David Libre', serif;
// $clockFont: 'PT Sans Narrow', sans-serif;
// $clockFont: 'Share Tech Mono', monospace;
// $clockFont: 'Josefin Sans', sans-serif;
$clockFont: 'Oswald', sans-serif;
$quoteFont: 'PT Sans Narrow', sans-serif;
$settingsFont: 'PT Sans Narrow', sans-serif;
$shadow: 2px 2px rgba(0,0,0,0.3);
$shadowSm: 1px 1px rgba(0,0,0,0.3);

main {
    background-image: url('https://images.unsplash.com/photo-1458571037713-913d8b481dc6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=693efb16c7d530531ac72634aacefc43');
    // background-image: url('https://source.unsplash.com/category/nature/1920x1080');
    background-size: cover;
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

#clock {
    font-family: $clockFont;
    font-size: 10vw;
    font-weight: 400;
    color: white;
    text-shadow: $shadow;
}

.clock {
    margin: 0px auto;
}

.greeting {
    font-family: $clockFont;
    font-size: 4vw;
    font-weight: 200;
    color: white;
    margin: 0;
    text-shadow: $shadow;
    padding: 5px;
}

.date {
    font-family: $clockFont;
    font-size: 25px;
    color: white;
    text-shadow: $shadowSm;
}

#container {
    width: 100vw;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weather {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-shadow: $shadow;
}

#weatherCity {
    font-family: $quoteFont;
    font-size: 15px;
    text-align: right;
    text-shadow: $shadowSm;
}

#weatherTemp {
    font-family: $quoteFont;
    font-size: 35px;
    font-weight: bold;
    text-shadow: $shadowSm;
    text-align: right;
}

#weatherDesc {
    text-shadow: $shadowSm;
    font-family: $quoteFont;
    text-align: right;
}

#weatherData {
    text-align: right;
    font-family: $quoteFont;
    font-size: 17px;
    text-shadow: $shadowSm;
    display: none;
}

#sevenDay {
    cursor: pointer;
}

#hideForecast {
    cursor: pointer;
}

.forecast-container {
    left: 50%;
    transform: translate(-50%, 0%);
    width: 45vw;
    top: 5px;
    margin: auto;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    text-align: right;
    font-family: $quoteFont;
    text-shadow: $shadowSm;
    color: white;
}

.forecast-container2 {
    left: 50%;
    transform: translate(-50%, 0%);
    width: 45vw;
    top: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    text-align: right;
    font-family: $quoteFont;
    text-shadow: $shadowSm;
    color: white;
}

.forecast-day {
    font-size: 35px;
}

.forecast-day-data {
    font-size: 17px;
}

.settings-icon {
    margin: 0;
    position: absolute;
    top: 6px;
    left: 6px;
    height: 1vw;
    max-height: 30px;
    min-height: 20px;
    opacity: 0.7;
}

#menu {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 250px;
    padding: 15px;
    border-radius: 0 0 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.settings-menu {
    // display: none;
    color: white;
    top: 14px;
    left: 38px;
    position: absolute;
}

.menu-container {
    font-family: $settingsFont;
    display: flex;
    font-size: 21px;
    color: white;
    flex-direction: column;
    align-content: flex-start;
}

.menu-items {
    // display: none;
    text-align: left;
}

.menu-title {
    margin: 10px auto;
    // display: none;
}

.menu-select {
    width: 80px;
}

.menu-toggle {
    color: white;
    cursor: pointer;
}

.console {
    display: none;
    width: 25vw;
    height: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote {
    font-family: $quoteFont;
    font-size: 18px;
    color: white;
    padding: 5px;
    margin: 0;
    text-shadow: $shadowSm;
}

#quoteAuthor {
    display: none;
}

.bottom-center {
    margin: 5px auto;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 5vh;
}

.question-icon {
    margin: 0;
    position: absolute;
    bottom: 6px;
    right: 6px;
    height: 1vw;
    max-height: 30px;
    min-height: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.question-container {
    font-family: $settingsFont;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: justify;
    // display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 500px;
    height: 360px;
    font-size: 17px;
    color: white;
    flex-direction: column;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

#question-hide {
  text-align: right;
  cursor:pointer;
}

.acknowledgements {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: left;
  position: absolute;

}
